@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body{
    font-family: Roboto;
    font-size: 2rem;
}
.columns{
    columns: 4 250px;
    column-rule: 3px solid black;
    column-gap: 3rem;
    /* margin-top: 0; */
    /* border: 2px solid black; */
}
.columns p{
    margin-top: 0;
}

.columns h2{
    background-color: #333;
    color: white;
    padding: 0.5rem;
    text-align: center;
    break-inside: avoid;
    break-before: column;
}

.columns .quote{
    padding: 2rem;
    border: 2px solid #333;
    margin: 2rem;
    column-span: all;
    break-inside: avoid;
    font-size: 3rem;
    text-align: center;
}

.columns .quote span{
    background-color: gold;
    white-space: nowrap;
}
/* div p{
    height: 200px;
    width: 200px;
    clear: left;
}
div{
    background-color: aliceblue;
    display: flow-root;
}
.p1{
    background-color: yellowgreen;
}
.p2{
    background-color: aqua;
}
.p3{
    background-color: bisque;
}
.p4{
    background-color: red;
} */