@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    padding: 5%;
    font-size: 22px;
    font-family: Roboto;
    color: #333;
}

ol{
    /* list-style-type: circle; */
    list-style-image:url("../css/checkmark.png");
}