@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: Nunito;
    font-size: 2rem;
}

:root{
    --HEADER-BGCOLOR:#333;
    --HEADER-COLOR:whitesmoke;

}

body{
    display: flex;
    min-height: 100vh;
    flex-flow:column nowrap;
    border: 2px solid black ;
}

header{
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
}